<!DOCTYPE html>
<html>
<head>
    <title>Agregar Turno</title>
    <!-- Estilos de Flatpickr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>
<body>
    <div class="container">
        <h1>Agregar Turno</h1>
        <form method="post">
            {% csrf_token %}
            <label for="paciente">Paciente:</label>
            <select name="paciente" id="paciente">
                {% for paciente in pacientes %}
                <option value="{{ paciente.id }}">{{ paciente.nombre }} {{ paciente.apellido }}</option>
                {% endfor %}
            </select>
            
            
        
            <label for="fecha">Fecha:</label>
            <input type="date" name="fecha" id="fecha" value="{{ fecha_inicial }}" required>
        
            <label for="hora">Hora:</label>
            <input type="time" name="hora" id="hora" required>
        
            <label for="motivo">Motivo:</label>
            <textarea name="motivo" id="motivo"></textarea>
        
            <button type="submit">Guardar</button>
        </form>
        <a href="{% url 'turnos:vista_calendario' year=year month=month %}" class="link-back">Volver al calendario</a>
    </div>

    <!-- Scripts -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Inicializar Flatpickr para el campo de fecha
            flatpickr("[name='fecha']", {
                enableTime: false,       // Solo seleccionar fecha
                dateFormat: "Y-m-d",     // Formato compatible con Django
                defaultDate: "{{ turno.fecha|date:'Y-m-d' }}",  // Fecha actual del turno como predeterminada
            });

            // Inicializar Flatpickr para el campo de hora (si existe)
            flatpickr("[name='hora']", {
                enableTime: true,
                noCalendar: true,
                dateFormat: "H:i",
                time_24hr: true,
                defaultDate: "{{ turno.hora|date:'H:i' }}",  // Hora actual como predeterminada
            });
        });
    </script>
</body>
</html>